.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 3%;
  margin-bottom: 2%;
}

.App-link {
  color: #61dafb;
}

.input-button {
  display: flex;
  flex-direction: column;
}

.card-text {
  min-height: 2%;
  align-self: baseline;
}

.card-title {
  min-height: 4%;
}

.card-button {
  align-self: auto;
}

button.btn {
  margin-top: auto;
}

.main-card {
  width: 16rem;
  margin: 2%;
}

.main-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.main-card.photo-card:hover {
  cursor: pointer;
}


