.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 3%;
  margin-bottom: 2%;
}

.App-link {
  color: #61dafb;
}

.input-button {
  display: flex;
  flex-direction: column;
}

.card-text {
  min-height: 2%;
  align-self: baseline;
}

.card-title {
  min-height: 75px;
}

.card-button {
  align-self: auto;
}

button.btn {
  margin-top: auto;
}

.main-card {
  min-height: 250px;
  width: 16rem;
  margin: 2%;
}

.album-column:last-child {
  padding-left: 0;
}

.main-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.photo-card {
  min-height: 370px;
  width: 16rem;
  margin: 2%;
}

.photo-card:last-child {
  flex: none;
}

.main-card.photo-card:hover {
  cursor: pointer;
}

.my-2 {
  flex-basis: 33.3%;
  min-width: 15.3%;
 }